doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div(class='header')
      h1 MEMBERS CLUB
      div(class='nav-bar')
        a(href='/users/sign-up') SIGN-UP
        a(href='/users/sign-in') SIGN-IN
    block content