extends layout

block content
  h1= title

  form(method='POST')
    div.form-group
      label(for='username') Username:
      input#username(type='text' name='username' value=(undefined===language ? '' : language.title) )
      label(for='password') Password:
      input#password(type='text' name='password' value=(undefined===language ? '' : language.title) )
    button.btn.btn-primary(type='submit') Submit    