extends layout 

block content
    h1= title
    if (admin === null)
      p To become an Admin please enter the administrator's password below.
      form(method='POST')
        button.btn.btn-primary(type='submit') Submit
    else
      p Your are already an Administrator. Feel free to return to the 
        a(href='/') Message Board

    if errors
        ul
        for error in errors
            li!= error.msg 